<html>
    <head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <header>
            <div class="float-right">
                    <h1>WEBSITE CATALOG</h1>
                </div>
                    <div = class="right-flow">
                    {% if user %}
                    <a href ="{{url_for('auth.gdisconnect')}}" class = "button">log out</a>
                    {% else %}
                    <a href ="{{url_for('auth.showLogin')}}" class = "button">log in</a>
                    {% endif %}
                    </div>
        </header>
    </head>
    <body>
        <div id = 'card'>
        {% if user %}
        <div class = "user">
            <img id = "profile_pic" src="{{user.picture}}"></img>
            <h4 id = "name">{{user.name}}</h4>
        </div class = "user">
        {% else %}
        <p>Log in to modify the catalog</p>
        {% endif %}
        <h2>Website Categories</h2>
            <ul>
                {% for webCategory in webCategories %}
                <li class = "category">
                    <a id = "catLink" href = "{{url_for('site.showPages', webCategory_id = webCategory.id)}}"><h3>{{webCategory.name}}</h3></a>
                    <a id = "catLink" href = "{{url_for('site.editCategory', webCategory_id = webCategory.id)}}">Edit</a>
                    <a id = "catLink" href = "{{url_for('site.deleteCategory', webCategory_id = webCategory.id)}}">Delete</a>
                </li>
                {% endfor %}
            </ul>
            <a class = "newLink" href = "{{url_for('site.newCategory')}}">Add a new Category</a>
        </div id = 'card'>
        <div id = 'webContainer'>
                                <div class = 'flash'>
		        {% with messages = get_flashed_messages() %}
                {% if messages %}

                <ul>
                {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                </div>
            <ul>
                {% for page in getAllPages %}
                <li id = "page">
                    <a id = "pagelinkMain" href = "{{url_for('site.showPageDetails', page_id = page.id, webCategory_id = webCategory.id)}}"><h3>{{page.name}}<h3></a>
                    <div class="links">
                    <a id = "pagelink" href = "{{url_for('site.editWebPage', page_id = page.id, webCategory_id = webCategory.id)}}">Edit</a>
                    <a id = "pagelink" href = "{{url_for('site.deleteWebPage', page_id = page.id, webCategory_id = webCategory.id)}}">Delete</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <h4>WebCategory created by: {{creator.name}}<h4>

    	    <a class = "newLink" href = "{{url_for('site.addNewPage', webCategory_id = webCategory.id) }}">Create New Item</a>
        </div id = 'webContainer'>
	</body>
</html>
